:root{
    --black:#000000;
    --gold: #FFD700;
    --light-color:#666;
    --white: #FFFFFF;
    --dirt-white:#E8E4C9;
}
*{
    margin: 0;
}
.opening-nav{
    background-color: var(--black);
    width: 100%;
    height: 5rem;
    vertical-align: middle;
    
}
.flex{
    display: flex;
    align-items: center;
}
.logo{
    color: var(--gold);
    text-decoration: none;
    font-weight: 1000;
    font-size: xx-large;
    margin: 5px 20px;
}
.nav-home{
    color: #008000;
    font-size: 25px;
	font-family: Arial, sans-serif;
	font-weight: bold;
    text-decoration: none;
}
.nav-home:hover{
    color: var(--white);
}
.login-content{
    width: 100%;
    height: 30rem;
    background-color: #FFFFFF;
}